body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* centraliza o container na tela */
  align-items: center;
  background-color: #f3f4f6;
  font-family: Arial, sans-serif;
}

/* Container alto */
.container {
  width: 60%;
  height: 300px;
  background-color: #2f1235;
  color: white;
  font-size: 1.4rem;
  border-radius: 12px;

  display: flex;
  justify-content: center; /* centraliza horizontalmente o texto */
  align-items: center;     /* centraliza verticalmente o texto */
}
