body{
    background-color: rgb(245, 239, 231);
    font-family: 'Times New Roman', Times, serif;
}

.bloco1{
    background-color: rgb(227, 186, 133);
    border: solid rgb(167, 98, 144);
    margin: 20px ;
    padding: 15px ;
}

.bloco2{
    background-color: rgb(188, 155, 103);
    border: solid rgb(142, 71, 0);
    margin: 20px;
    padding: 15px;
}

.bloco3{
    background-color: rgb(192, 171, 136);
    margin: 20px;
    padding: 15px;
    border: solid rgb(96, 64, 31);
    
}

.bloco4{
    background-color: rgb(127, 99, 64);
    margin: 20px;
    padding: 15px;
    border: solid rgb(46, 33, 16);
    color: aliceblue;
   font-family: 'Courier New', monospace;

   
}